<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update</title>
  </head>
  <body>
    <form  action="/schedule/add_new" method="post">
      Day<input type="text" name="day" value=""><br>
      Subject<input type="text" name="subject" value=""><br>
      Room<input type="text" name="room" value=""><br>
      Start Time<input type="text" name="start_time" value=""><br>
      End Time<input type="text" name="end_time" value=""><br>
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
